#main #content {
    margin: 0 7.6%;
    width: auto;
}

body{
    background-color: black;
}

@media (min-width: 768px){
    .navbar{
        background-color: transparent;
    }
}

#page-top{
    background: url("../img/background.jpg") no-repeat center center;
    height: 100vh;
    text-align: center;
}
.container{
    font-family: 'Cabin', sans-serif;
    border: none;
}

#mainNav{
    background-color: transparent;
}

.navbar-toggle{
    width: 100%;
    float: none;
    margin-right: 0;
    border: none;
    font-size: 24px;
    text-transform: uppercase;
    color: black;

}

.navbar{
    border: none;
}



.navbar-inverse .navbar-nav > li >a {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
}


.textcontent{
    position: relative;
    margin: 0 auto;
    width: 350px;
    top:30%;
}

.textcontent a{
    text-decoration: none;
    color: #111;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 4rem;
    text-transform: uppercase;
}

.textcontent h1{
    text-align: center;

}

.textcontent p{
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif
}


.about{
    padding: 200px 0;
    -webkit-box-shadow: 0px -60px 70px 15px rgba(0,0,0,1);
    -moz-box-shadow: 0px -60px 70px 15px rgba(0,0,0,1);
    box-shadow: 0px -60px 70px 15px rgba(0,0,0,1);
}

.container-about{
    color: #bbb;
    text-align: center;
    width: 320px;
    margin: 0 auto;
    padding: 10px 0;
}

.container-about h2{
    padding:40px 0;
    font-family: 'Roboto', sans-serif;
}

.container-about p{
    padding: 10px 0;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
}

.container-about span{
    color: #FF0000;
}

.btncheck{
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    margin: 60px 0;
    padding: 15px;
    border: #222 solid 2px;
    border-radius: 20px;
    transition: all ease-in-out .7s;
}

.btncheck:hover {
    background-color: #444;
    border: #333 solid 2px;
}


.btncheck a{
    color:#ddd;
    text-decoration: none;
}

.btncheck a:hover{
    text-decoration: none;
    color:#ddd;

}

#parralex{
    -webkit-box-shadow: inset 0px 60px 60px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 60px 60px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 60px 60px 0px rgba(0,0,0,1);
    background: url("../img/parallex.jpeg") no-repeat center center fixed;
    height: 50vh;
    text-align: center;
}

.checkme{
    text-align: center;
    width: 25%;
    min-width:200px;
    height: auto;
    position: relative;
    top: 30%;
    color: #ddd;
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    border-radius:20px;
}


.checkme h3{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.checkme > span > a{
    text-transform: uppercase;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    font-size: 24px;
}

.checkme p{
    font-family: 'Cabin', sans-serif;
    font-size: 24px;
    padding: 20px 0;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.img
{
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding-top: 40px;
    padding-left: 10px;
    opacity: 0.6;
    transition: ease-in-out all .5s;
}

.img:hover{
    opacity: 1;
}

.container-contact{
    text-align: center;
    padding: 80px;
}


.container-contact h3{
    font-family: 'Roboto', sans-serif;
    padding: 10px 0;
    color: #ddd;
}

.container-contact p{
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    color: #ddd;
}

.fb{
    width: 125px;
    height: 100px;
}

.gplus{
    width: 125px;
    height: 100px;
}

footer{
    color: #ddd;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    background-color: #333;
}


